:root {
    --master: #3a4678;
    --staging: #9dd651;
    --feat: #65b3cd;
    --fix: #ff5143;
    --release: #ff7f27;
    --release-fix: #fbd150;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Quicksand", "Josefin Sans", 'Julius Sans One', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: #e6e6e6;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Orelega One";
    font-size: 5em;
    color: #fff;
    font-weight: normal;
    margin: 0;
    line-height: 1;
    text-shadow: 0 2px 1px #000;
}

h2 {
    font-family:  "Quicksand", "Orelega One";
    width: 60vw;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 10px 20px 0;
    border-top: solid 1px rgba(255, 255, 255, .2);
    letter-spacing: 0.015em;
    display: block;
    color: #eee;
}

h3 {
    font-family: "Della Respira";
    font-size: 1.7em;
    font-weight: bolder;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    margin-bottom: .2em;
}

header {
    height: 100vh;
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #cdcdcd;
}

header .bg {
    height: 100vh;
    position: fixed;
    width: 100%;
    background-image: url('https://cdn.dribbble.com/users/36400/screenshots/4037272/attachments/925202/git-monster-wallpaper-2560x1440.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
}

header .shade {
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 3;
    height: 100vh;
    position: fixed;
    width: 100%;
}

header .title {
    width: 100%;
}

header .title .text {
    z-index: 1;
    width: 100%;
    text-align: center;
    color: White;
    padding: 4em;
    background: rgba(0, 0, 0, .6);
}

header .arrow {
    position: fixed;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    width: 40px;
    height: 40px;
    opacity: 1;
}

.centerV {
    display: table;
    height: 100%;
}

.centerV > div {
    display: table-cell;
    vertical-align: middle;
}

.bouncy {
    animation: bouncy 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bouncy {
    0% {
        transform: translate(0, 0px);
        animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
   }
    11% {
        transform: translate(0, -25px) scaleX(0.8);
        animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
   }
    20% {
        transform: translate(0, 0px) scaleY(0.8);
        animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
   }
    28% {
        transform: translate(0, -10px);
        animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
   }
    36% {
        transform: translate(0, 0px);
        animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
   }
    100% {
        transform: translate(0, 0px);
        animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
   }
}

menu {
    height: 55px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    display: none;
    background: #1d274f;
    transition: 0.3s ease all;
}

nav {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    padding-top: 20px;
}

nav ul {
    display: inline;
    margin-top: 0;
    margin-bottom: 10px;
}

nav li {    
    display: inline;
}

nav .anchors a {
    padding: 10px 15px;
}

nav li a {
    margin: 0 5px;
    color: #fff;
}

a {
    transition: 0.15s ease all;
    text-decoration: none;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}
  
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
}
  
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
    }
}

main {
    background: #e6e6e6;
    padding: 1em 2em;
    position: relative;
    clear: both;
}

main .col-left {
    float: left;
    width: 40vw;
}

main .col-right {
    float: right;
    width: 40vw;
    margin-left: 5vw;
}

section {
    padding-top: 2.5em;
    margin: 0 auto;
    width: 85vw;
    line-height: 1.5em;
    letter-spacing: 0.005em;
    display: flow-root;
    color: #111;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.015em;
}

    section.off {
        display: none;
    }

section h1 {
    font-size: 3em;
    margin-bottom: .1em;
    color: #9964db;
}

section h3 {
    font-size: 1.7em;
    color: #ae83e2;
    margin-bottom: .2em;
}

section p {
    margin-bottom: 50px;
    width: 60vw;
    margin: 0 auto;
    padding: 10px 20px 0;
    display: block;
}

section ul {    
    list-style: none;
    margin-left: 0;
    text-shadow: none;
    text-align: start;
}

section ul li {
    margin-top: 1.5em;
}

    section ul li:before {
        content: "\27AF\a0";
    }

    section ul.alert li:before {
        content: "\002A\a0";
    }

section ul.two-columns li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section ul.two-columns li:before {
    align-self: start;
}

section ul.two-columns li div {
    display: inline;
    width: 50%;
    padding-right: 1em;
    /* margin-left: 1.5em; */
}

section ul.two-columns li img {
    max-width: 50%;
    margin: auto;
}

section footer {
    display: inline-block;
}

.branch {
    font-family:  "Josefin Sans";
    font-size: inherit;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 1px 0 #000;
    line-height: inherit;
    background-color: #fff;
    border-radius: 8%;
    padding: 4px 6px;
}

    .branch.master {
        color: var(--master);
    }

    .branch.staging {
        color: var(--staging);
    }

    .branch.feat {
        color: var(--feat);
    }

    .branch.fix {
        color: var(--fix);
    }

    .branch.release {
        color: var(--release);
    }

    .branch.release-fix {
        color: var(--release-fix);
    }

.graph {    
    margin-top: 2em;
}

footer:not(section footer) {
    height: 30px;
    position: relative;
    width: 100%;
    background: #1a2140;
}